<div class="dialog-container">
  <form [formGroup]="productForm">
    <div class="title-form">
      <div *ngIf="productForm.get('name')?.value">
        <h3>{{productForm.get('name')?.value}}</h3>
      </div>
      <div *ngIf="img">
        <img [src]="img" class="product-image" alt="Product Image" />
      </div>
    </div>
    <!-- תמונה -->
    <div class="form-group">
      <label class="form-label">תמונה</label>

      <!-- תמונה בודדת -->
      <button (click)="imageInput.click()">בחר תמונה</button>
      <br>
      <input #imageInput type="file" style="display: none;" (change)="imageInput.files?.length == 1?onImageChange($event):onImageChangeMany($event)" multiple accept="image/*" />
      <!-- תיקית תמונות -->
      <!-- <button *ngIf="productNew" matInput (click)="imageInputArray.click()">בחר תיקיה</button> -->
      <input #imageInputArray type="file" 
      *ngIf="productNew"
      (click)="imageInputArray.click()"
      webkitdirectory 
      mozdirectory 
      multiple 
      (change)="onImageChangeMany($event)" 
      accept="image/*"  />

      <cdk-virtual-scroll-viewport itemSize="2000" class="image-gallery">
        <div *cdkVirtualFor="let image of images" class="image-card">
          <img [src]="image" alt="Uploaded Image" class="image-preview" />
          <button class="delete-button" (click)="deleteImageFromForm(image)"> &times; </button>
        </div>
      </cdk-virtual-scroll-viewport>
       

      <small *ngIf="!img && !images && submitted" class="error-message">
        יש לבחור לפחות תמונה אחת.
      </small>
    </div>
    <!-- שם המוצר -->
    <div class="form-group">
      <label for="name" class="form-label">שם המוצר</label>
      <input matInput formControlName="name" id="name" placeholder="הכנס שם מוצר" required autofocus />
      <small *ngIf="productForm.get('name')?.invalid && submitted" class="error-message">
        שם המוצר הוא שדה חובה.
      </small>
    </div>
    <!-- תיאור -->
    <div class="form-group">
      <label for="describe" class="form-label">תיאור</label>
      <textarea matInput formControlName="describe" id="describe" placeholder="הכנס תיאור" rows="3"></textarea>
    </div>
    <!-- קטגוריות מרובות -->
    <div class="form-group">
      <label for="categories" class="form-label">קטגוריות</label>
      <p-treeselect formControlName="categories" id="categories" [options]="categoryOptions" [metaKeySelection]="false"
        selectionMode="checkbox" placeholder="בחר קטגוריות..." [showClear]="true">
        <ng-template let-value pTemplate="value">
          <div class="chip-container">
            <div class="cat-container" *ngFor="let category of value">
              <div class="cat">
                <span>{{ category["label"]?category["label"]:category }}</span>
                <button class="remove-category" (click)="onCategoryRemove(category, $event)">
                  <i class="pi pi-times" style="font-size: 0.5rem"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-treeselect>

      <small *ngIf="productForm.get('categories')?.invalid && submitted" class="error-message">
        יש לבחור לפחות קטגוריה אחת.
      </small>
    </div>

    <!-- מחיר -->
    <div class="form-group">
      <label for="price" class="form-label">מחיר</label>
      <input matInput formControlName="price" id="price" placeholder="הכנס מחיר" type="number" />
      <small *ngIf="productForm.get('price')?.invalid && submitted" class="error-message">
        המחיר הוא שדה חובה.
      </small>
    </div>
    <!-- חברה -->
    <div class="form-group">
      <label for="company" class="form-label">חברה</label>
      <input matInput formControlName="company" id="company" placeholder="הכנס חברה" type="text" />
    </div>
  </form>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()" class="cancel">ביטול</button>
    <button mat-button (click)="img?onSubmit():onSubmitArray()" class="save">שמור</button>
  </mat-dialog-actions>
</div>