.dialog-container {
  padding: 1vh 2vw; 
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  height: 92vh; 
  display: flex;
  flex-direction: column;
  position: relative; 
  direction: rtl;
}

.title-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e0e0e0; 
  margin-bottom: 1vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  overflow-y: auto; 
  overflow-x: hidden; 
  flex-grow: 1; 
}

.product-image {
  max-height: 20vh; 
  border-radius: 0.2vw;
  width: auto;
  object-fit: contain;
  margin-bottom: 1vh;
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1vw; 
  font-weight: 600;
  margin-bottom: 0.8vh;
  color: #333;
}

.treeselect{
  display: inline-grid;
  background-color: #f8f8f8;

}

input, select, textarea, mat-select p-treeselect{
  border-radius: 8px;
  padding: 0.7vh;
  font-size: 1vw;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: border-color 0.3s, background-color 0.3s ease;
}

input:focus, textarea:focus, mat-select:focus p-treeselect:focus{
  outline: none;
  border-color: #f7b70e;
}

textarea {
  resize: vertical;
}

.error-message {
  color: #f44336;
  font-size: 1vw; 
  margin-top: 0.5vh;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  position: sticky;
  bottom: 0.5vh; 
  background-color: #fff;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 1;
}

button {
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.mat-button {
  font-size: 2vw; /* גודל טקסט קטן יותר */
  padding: 1vh 2vw;
}

.mat-mdc-button:not(:disabled) {
  color: #f5c749;
}

form::-webkit-scrollbar {
  width: 6px; 
}

form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

form::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}

.dialog-container {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cat-container{
  display: flex;
  flex-wrap: wrap;
  padding: 1.5vh;
  gap: 0.3vw;
  max-height: 10vh;
  min-height: 4vh;
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.cat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 2px 10px;
  height: 3.5vh;
  gap: 1vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* מונע שבירת טקסט */
  font-size: 0.9vw;
}

.remove-category{
  height: 15px;
  width: 15px;
  font-size: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: #454040;
}

.image-info {
  margin-top: 10px;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.status.pending {
  background-color: #f7b70e;
  color: #000;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #f7b70e;
  border: none;
  color: #fff;
  font-size: 1.5vw;
  border-radius: 50%;
  cursor: pointer;
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
}

.delete-button:hover {
  background: #f8c129;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  justify-content: center;
  flex-wrap: wrap;
}

.image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 34vw;
  justify-content:center;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 8.5vw;
  text-align: center;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-preview {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.dots {
  font-size: 24px;
  font-weight: bold;
}

.image-count {
  font-weight: bold;
  font-size: 18px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-top: 3px solid #f7b70e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

