<div class="dialog-container">
  <form [formGroup]="productForm">
    <div class="title-form">
      <div *ngIf="productForm.get('name')?.value">
        <h3>{{productForm.get('name')?.value}}</h3>
      </div>
      <div *ngIf="img">
        <img [src]="img" class="product-image" alt="Product Image" />
      </div>
    </div>
    <!-- תמונה -->
    <div class="form-group">
      <label class="form-label">תמונה</label>

      <!-- תמונה בודדת -->
      <button (click)="imageInput.click()">בחר תמונה/תמונות</button>
      <br>
      <input #imageInput type="file" style="display: none;"
        (change)="imageInput.files?.length == 1?onImageChange($event):onImageChangeMany($event)" multiple
        accept="image/*" />
      <!-- תיקית תמונות -->
      <button *ngIf="productNew" (click)="imageInputArray.click()">בחר תיקיה</button>
      <input #imageInputArray type="file"  webkitdirectory mozdirectory multiple
        (change)="onImageChangeMany($event)" accept="image/*" style="display: none;" />

        <div class="image-gallery">

          <p class="image-count">נבחרו {{ images.length }} תמונות</p>
        
          <!-- הצגת אינדיקציה לטעינה -->
          <div *ngIf="isUploading" class="loading-container">
            <span class="loader"></span>
            <p>מעלה תמונות...</p>
          </div>
        
          <!-- הצגת 5 התמונות הראשונות -->
          <div class="image-list">
            <div *ngFor="let image of firstImages" class="image-card">
              <img [src]="image" alt="Uploaded Image" class="image-preview" />
              <button class="delete-button" (click)="deleteImageFromForm(image)"> &times; </button>
            </div>
          </div>
        
          <!-- אם יש יותר מ-7 תמונות, הצגת 3 נקודות -->
          <div *ngIf="images.length > 7" class="dots">⋮</div>
        
          <!-- הצגת 2 התמונות האחרונות -->
          <div class="image-list">
            <div *ngFor="let image of lastImages" class="image-card">
              <img [src]="image" alt="Uploaded Image" class="image-preview" />
              <button class="delete-button" (click)="deleteImageFromForm(image)"> &times; </button>
            </div>
          </div>
        
        </div>
        

      <small *ngIf="!img && !images && submitted" class="error-message">
        יש לבחור לפחות תמונה אחת.
      </small>
    </div>
    <!-- שם המוצר -->
    <div class="form-group">
      <label for="name" class="form-label">שם המוצר</label>
      <input matInput formControlName="name" id="name" placeholder="הכנס שם מוצר" autofocus />
    </div>

    <!-- תיאור -->
    <div class="form-group">
      <label for="describe" class="form-label">תיאור</label>
      <textarea matInput formControlName="describe" id="describe" placeholder="הכנס תיאור" rows="3"></textarea>
    </div>
    <!-- קטגוריות מרובות -->
    <div class="form-group">
      <label for="categories" class="form-label">קטגוריות</label>
      <p-treeselect class="treeselect" formControlName="categories" id="categories" [options]="categoryOptions" [metaKeySelection]="false"
        selectionMode="checkbox" placeholder="בחר קטגוריות..." [showClear]="true">
        <ng-template let-value pTemplate="value">
          <div class="chip-container">
            <div class="cat-container" *ngFor="let category of value">
              <div class="cat">
                <span>{{ category["label"]?category["label"]:category }}</span>
                <button class="remove-category" (click)="onCategoryRemove(category, $event)">
                  <i class="pi pi-times" style="font-size: 0.5rem"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-treeselect>

      <small *ngIf="productForm.get('categories')?.invalid && submitted" class="error-message">
        יש לבחור לפחות קטגוריה אחת.
      </small>
    </div>
    <!-- מחיר -->
    <div class="form-group">
      <label for="price" class="form-label">מחיר</label>
      <input matInput formControlName="price" id="price" placeholder="הכנס מחיר" type="number" />
    </div>
    <!-- חברה -->
    <div class="form-group">
      <label for="company" class="form-label">חברה</label>
      <select formControlName="company" id="company" (change)="onCompanyChange($event)">
        <option *ngFor="let company of companies" [value]="company.name">{{ company.name }}</option>
      </select>
    </div>
  </form>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()" class="cancel">ביטול</button>
    <button mat-button (click)="img?onSubmit():onSubmitArray()" class="save">שמור</button>
  </mat-dialog-actions>
</div>