<!-- <div class="header-toolbar">
  <nav class="categories-nav">
    <ul>
      <li *ngFor="let category of categories" (click)="onCategoryClick(category)">
        {{ category }}
      </li>
      {{ isLogin }}
      <li *ngIf="!isLogin" (click)="categorySelected=''; loginSelected = true;">login</li>
      <li *ngIf="isLogin" (click)="onLogoutClick()">logout</li>

      <li *ngIf="isLogin" routerLink="/edit">לעריכה</li>
    </ul>
  </nav>
</div> -->

<!-- <div class="card">
  <p-menubar dir="rtl" [model]="items"/>
</div> -->

<div class="header">
  <div class="headerBody">
    <button>התחברות</button>
    <p-menubar dir="rtl" [model]="items"/>
  </div>
  <div class="logoHeader">
    <img src="./logo.png" alt="logo">
  </div>
</div>