/* עיצוב כללי של ה-Header */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #000;
  height: 20vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerBody{
  border-bottom: 0.65vh solid #fccc48;
  border-right: 0.65vh solid #fccc48;
  width: 78vw;
  border-bottom-right-radius: 1.5vw;
}

.login {
  background-color: #f2c417;
  color: #000;
  border-radius: 0.7vw;
  margin: 1.2vw;
  margin-left: 1.9vw;
  width: 8.5vw;
  height: 3vw;
  font-size: 1.5vw;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
}

.logoHeader img {
  max-width: 80%;
  max-height: 80%;
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-bar li {
  position: relative;
}

.menu-bar button {
  background: #fff; /* רקע לבן לכפתורים */
  border: none;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-bar button:hover {
  background-color: #e1dfd5; /* צבע צהוב בעת ריחוף */
}

.menu-bar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-bar li:hover > ul {
  display: block;
}

.menu-bar ul ul li {
  display: block;
}

.menu-bar ul ul button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #000;
}
