/* עיצוב כללי של ה-Header */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #000;
  height: 20vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerBody{
  border-bottom: 0.65vh solid #fccc48;
  border-right: 0.65vh solid #fccc48;
  width: 78vw;
  border-bottom-right-radius: 1.5vw;
}

.headerBody button {
  background-color: #f2c417;
  color: #000;
  border-radius: 0.7vw;
  margin: 1.2vw;
  margin-left: 1.9vw;
  width: 8.5vw;
  height: 3vw;
  font-size: 1.5vw;
}

/* עיצוב הלוגו בצד ימין */
/* .card .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.card .logo span {
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
}

.card .logo small {
  font-size: 14px;
  color: #f2c417;
} */

/* עיצוב התפריט */
/* .card p-menubar {
  flex: 1;
  margin: 0 20px;
  text-align: right;
}

.card p-menubar::ng-deep .ui-menuitem {
  display: inline-block;
  background-color: #fff;
  color: #000;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card p-menubar::ng-deep .ui-menuitem:hover {
  background-color: #f2c417;
  color: #000;
} */
/* 
.card button:hover {
  background-color: #d9b312;
  transform: translateY(-2px);
}

.card button:active {
  background-color: #b9980e;
  transform: translateY(0);
} */ 

/* עיצוב ה-container של הקומפוננטות */
/* .products {
  margin: 20px;
  text-align: center;
} */

