/* עיצוב כללי של ה-Header */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  background-color: #000;
  height: 18vh;
  direction: rtl;
  border-bottom: 0.7vh solid #f7b70e;
}

.headerBody {
  width: 78vw;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1vh;
}

.padding-auth {
  /* padding: 1vw; */
  height: 4vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.custom-heart {
  color: #f7b70e;
  border-radius: 0.4vw;
  margin-right: 1.2vw;
  font-size: 1.3rem;
}

app-favorite-cart{
  position: absolute;
  top: 17vh;
  left: 1vw;
}

.auth-button {
  background-color: #f7b70e;
  color: #000;
  border-radius: 0.4vw;
  margin-right: 1.2vw;
  width: 8.5vw;
  font-size: 1vw;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  cursor: pointer;
}

.logoHeader img {
  max-width: 80%;
  max-height: 80%;
}

.header-container {
  background-color: #ffffff;
  padding: 0vh 0vw 0vh 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  direction: ltr;
  width: 100%;
  border-top-right-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  direction: rtl;
  /* font-family: 'MyCustomFont', serif; */
}

.menu-items>li {
  position: relative;
  padding: 1.5vh 1.5vw;
  cursor: pointer;
  font-size: 0.8vw;
  /* font-weight: bold; */
  border-radius: 0.2vw;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-items>li:hover {
  /* background-color: #fbc01c; */
  border-bottom: 0.3vh solid #f7b70e;
}

/*קטגוריה שנבחרת*/
.menu-items>li.selected {
  background-color: #f7b70e;
  color: #000000;
  /* border-bottom: 0.5vh solid #fbc01ccc; */
  text-decoration: none;
}

/* תפריט משנה רמה 1 */
.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 11vw;
  list-style: none;
  padding: 0;
  margin: 0.3vh;
  background-color: #fff;
  border: 0.1vh solid #ddd;
  border-radius: 0.4vh;
  display: none;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.menu-items>li:hover>.submenu {
  display: block;
}

.submenu>li {
  position: relative;
  padding: 1vh 2vw;
  cursor: pointer;
  color: #333;
  font-size: 0.8vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu>li:hover {
  background-color: #f7b70e;
  color: #fff;
}

/* תפריט משנה רמה 2 */
.submenu .submenu {
  position: absolute;
  top: 0;
  right: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 0.1vh solid #ddd;
  border-radius: 0.4vh;
  display: none;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.submenu>li:hover>.submenu {
  display: block;
}

/* תפריט משנה רמה 3 */
.submenu .submenu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 0.1vh solid #ddd;
  border-radius: 0.4vh;
  display: none;
  box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.submenu .submenu>li:hover>.submenu {
  display: block;
}

.burger-menu {
  display: none;
}

@media (max-width: 935px) {
  .header {
    height: 12vh;
  }

  .header {
    display: flex;
    align-items: center
  }

  .burger-menu {
    display: flex;
    z-index: 1100;
    color: #ffffff;
    margin-right: 2vw;
  }

  .header-container {
    position: absolute;
    right: 0;
    top: 12vh;
    width: 25vw;
    height: 80vh;
    margin-bottom: 8vh;
    background-color: #ffffff;
    border-radius: 0.2vw;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .header-container.open {
    transform: translateX(0);
  }

  .menu-items {
    flex-direction: column;
    gap: 0;
  }

  .submenu {
    position: absolute;
    top: 0;
    right: 100%;
    min-width: 18vw;
    font-size: 1.2vw;
    margin: 0;
  }

  .menu-items>li{
    font-size: 1.2vw;
  }
  .submenu>li {
    font-size: 1.2vw;
  }
}