<div class="header-toolbar">
  <nav class="categories-nav">
    <ul>
      <li *ngFor="let category of categories" (click)="onCategoryClick(category)">
        {{ category }}
      </li>
      {{ isLogin }}
      <li *ngIf="!isLogin" (click)="categorySelected=''; loginSelected = true;">login</li>
      <li *ngIf="isLogin" (click)="onLogoutClick()">logout</li>
      <!-- development -->
      <li *ngIf="isLogin" routerLink="/edit">לעריכה</li>
    </ul>
  </nav>
</div>

<div class="products">
  <product-list *ngIf="categorySelected" [category]="categorySelected"></product-list>
  <login *ngIf="loginSelected"></login>
</div>