.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 8vh;
    border-top: 0.7vh solid #fccc48;
}

.footer .details {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60%;
    width: 88%;
    border-radius: 0.3vw;
    margin-right: 1.5vw;
    font-size: 1.3vw;
}

.logoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12%;
    border-top-left-radius: 0.5vw;
}

.logoFooter img {
    max-width: 80%;
    max-height: 80%;
}