<div class="footer">
  <div class="logoFooter">
    <img src="assets/logo2.png" alt="logo">
  </div>
  <div class="details">
    V9762295&#64;gmail.com
    <a href="https://mail.google.com/mail/?view=cm&to=V9762295&#64;gmail.com" target="_blank">
      <i class="bi bi-envelope-fill"></i>
    </a>
    08-9762295
    <i class="bi bi-telephone-fill"></i>
    רבי שמעון בר יוחאי 18, מודיעין עילית
    <a href="https://www.google.com/maps?q=רבי+שמעון+בר+יוחאי+18,+מודיעין+עילית" target="_blank">
      <i class="bi bi-geo-alt-fill"></i>
    </a>
  </div>
</div>