.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    direction: rtl;
    padding: 2.5vw;
    gap: 0.8vw;
}

.example-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    transition: all 0.3s ease-in-out;
    /* border: 0.01vh solid #000000; */
}

mat-card img {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    /* border-bottom: 0.45vh solid #000000; */
    object-fit: contain;
    /* margin-bottom: 1vw; */
}

.example-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.price {
    color: #f7b70e;
    font-weight: bold;
}

/* mat-card img:hover {
    filter: brightness(1.2);
} */

.action-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.example-card:hover .action-buttons {
    opacity: 1;
}

.edit-button,
.delete-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.edit-button:hover {
    background-color: rgba(33, 150, 243, 0.8);
}

.delete-button:hover {
    background-color: rgba(244, 67, 54, 0.8);
}

mat-card-content {
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer; /* סגירה בלחיצה על הרקע */
}

.card-viewer {
    display: flex;
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    direction: rtl;
}

.image-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
}

.image-section img {
    max-width: 55vw;
    max-height: 78vh;
    object-fit: contain;
}

.details-section {
    flex: 1;
    padding: 3vh 4vw;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", Sans-serif;
    border: #000;
}

.details-section h2 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 1.5vh;
    color: #f7b70e;
}

.details-section .price {
    font-size: 3vw;
    color: #f7b70e;
    font-weight: bold;
}

.details-section .color-link-button {
    margin-top: 2vh;
    padding: 1.5vh 3vw;
    background-color: #fdd465;
    border: 0.3vh solid #f7b70e;
    color: #000;
    border-radius: 4px;
    font-size: 2vh;
    cursor: pointer;
}

.describe{
    font-family: "Rubik", Sans-serif;
    font-size: 3vw;
}

.details-section .color-link-button:hover {
    background-color: #f7b70e;
    transform: rotate(0.1deg);
  }

.color-link-button i {
    font-size: 1vw; /* גודל האייקון */
    margin-left: 0.5vw;
    transition: transform 0.3s ease; /* הוספת אפקט מעבר לאייקון */
  }

  .action-buttons-select {
    position: absolute;
    bottom: 2vh;
    left: 14vw;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

  
.edit-button-select,
.delete-button-select {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.edit-button-select:hover {
    background-color: rgba(33, 149, 243, 0.911);
}

.delete-button-select:hover {
    background-color: rgba(244, 67, 54, 0.8);
}


/* כפתור סגירה ולוגו בתצוגה המלאה */
.close-button {
    position: absolute;
    top: 2vh;
    left: 1vw;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3vw; /* Adjust size */
    height: 3vw; /* Adjust size */
    border-radius: 50%; /* Circle shape */
    transition: background-color 0.2s ease;
  }
  
  .close-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light hover effect */
  }
  
  .close-button i {
    font-size: 24px; /* Adjust icon size */
    color: #333; /* Icon color */
    transition: color 0.2s ease;
  }
  
  .close-button:hover i {
    color: #000; /* Darker icon color on hover */
  }
  

.logo {
    position: absolute;
    z-index: 1003;
    bottom: 4vh;
    left: 2vw;
    width: 8vw;
}

.custom-dialog-container .mat-dialog-container .mat-mdc-dialog-inner-container{
    width: 100vw ;
  }