<div class="grid-list">
  <mat-card class="card" appearance="outlined" *ngFor="let product of pagedProducts" (click)="openViewer(product)">
    <img mat-card-image [src]="product.image" alt="Photo of closet">
    <div class="action-buttons" *ngIf="isLogin">
      <button mat-icon-button color="primary" (click)="editRow(product, $event)" class="edit-button" aria-label="Edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button mat-icon-button color="warn" (click)="deleteProduct(product, $event)" class="delete-button"
        aria-label="Delete">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </mat-card>
</div>
<div *ngIf="pagedProducts.length > 0" class="paginator-container" dir="rtl">
  <p-paginator [rows]="rows" [totalRecords]="totalProducts" (onPageChange)="onPageChange($event)"></p-paginator>
</div>

<product-card
 [isLogin]="isLogin"
 [productObject]="selectedProduct" 
 (deleteProductEvent)="deleteProduct($event.product, $event.event)"
 (closeViewer)="closeViewer()"
 ></product-card>

<!-- תצוגה מלאה של הכרטיס -->
<!-- <div *ngIf="selectedProduct" class="overlay" tabindex="0" (click)="closeOnOverlayClick($event)">
  <div class="card-viewer">
    <i class="bi bi-x-circle close-button" (click)="closeViewer()"></i>
    <img class="logo" src="assets/logo3.png" alt="Logo" />

    <div class="image-section">
      <img [src]="selectedProduct.image" alt="Product Image">
    </div>

    <div class="details-section" [ngClass]="">
      <div class="contain">
        <h2>דגם {{ selectedProduct.name }} </h2>
        <i *ngIf="!selectedProduct.price && isLike(selectedProduct)" class="bi bi-heart-fill favorite-button select"
          (click)=" addToCart(selectedProduct)"></i>
        <i *ngIf="!selectedProduct.price &&!isLike(selectedProduct)" class="bi bi-heart favorite-button select"
          (click)="addToCart(selectedProduct)"></i></div>
      <div class="describe">
        <span class="describe-text">{{ selectedProduct.describe }}</span>
      </div>
      <div *ngIf="selectedProduct.price && selectedProduct.price>0" class="contain">
        <div class="price">{{ selectedProduct.price }} ₪</div>
        <i *ngIf="isLike(selectedProduct)" class="bi bi-heart-fill favorite-button select"
          (click)="addToCart(selectedProduct)"></i>
        <i *ngIf="!isLike(selectedProduct)" class="bi bi-heart favorite-button not-select"
          (click)="addToCart(selectedProduct)"></i>
      </div>
      <div *ngIf="selectedProduct.sizes">
        <p class="sizes-display">{{selectedProduct.sizes}}</p>
      </div>
      <a *ngIf="selectedProduct.company" (click)="openLinkInNewTab(selectedProduct.company)" class="color-link-button">
        <i class="bi bi-palette2"></i> לצבעים</a>
      <div class="action-buttons-select" *ngIf="isLogin">
        <button mat-icon-button color="primary" (click)="editRow(selectedProduct, $event)" class="edit-button-select"
          aria-label="Edit">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(selectedProduct, $event)"
          class="delete-button-select" aria-label="Delete">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->