<div *ngIf="pagedProducts.length == 0" class="no-results">
  לא נמצאו מוצרים תואמים
</div>

<div class="sort-container" *ngIf="pagedProducts.length > 1">
  <select id="sort-select" [(ngModel)]="selectedSortOption" (change)="sortProducts()" class="sort-select">
    <option value="" disabled selected>מיין לפי</option> 
    <option *ngFor="let option of sortOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</div>

<div class="grid-list">
  <mat-card class="card" appearance="outlined" *ngFor="let product of pagedProducts" (click)="openViewer(product)">
    <img mat-card-image [src]="product.image" alt="Photo of closet">
    <div class="action-buttons" *ngIf="isLogin">
      <button mat-icon-button color="primary" (click)="editRow(product, $event)" class="edit-button" aria-label="Edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button mat-icon-button color="warn" (click)="deleteProduct(product, $event)" class="delete-button"
        aria-label="Delete">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </mat-card>
</div>
<div *ngIf="pagedProducts.length > 0" class="paginator-container" dir="rtl">
  <p-paginator [rows]="rows" [totalRecords]="totalProducts" (onPageChange)="onPageChange($event)"></p-paginator>
</div>

<product-card
 [isLogin]="isLogin"
 [productObject]="selectedProduct" 
 (deleteProductEvent)="deleteProduct($event.product, $event.event)"
 (closeViewer)="closeViewer()"
 ></product-card>