<div class="grid-list">
  <mat-card class="example-card" appearance="outlined" *ngFor="let product of pagedProducts"
    (click)="openViewer(product)">
    <img mat-card-image [src]="product.image" alt="Photo of closet">
    <div class="action-buttons" *ngIf="isLogin">
      <button mat-icon-button color="primary" (click)="editRow(product, $event)" class="edit-button" aria-label="Edit">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button mat-icon-button color="warn" (click)="deleteProduct(product, $event)" class="delete-button"
        aria-label="Delete">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>
    <!-- <mat-card-content>
      <div>{{ product.name}}</div>
      <div *ngIf="product.price && product.price" class="price">{{ product.price }} ₪</div>
    </mat-card-content> -->
  </mat-card>
</div>
<div *ngIf="pagedProducts.length > 0" class="paginator-container" dir="rtl">
  <p-paginator [rows]="rows" [totalRecords]="totalProducts" (onPageChange)="onPageChange($event)"></p-paginator>
</div>

<!-- תצוגה מלאה של הכרטיס -->
<div *ngIf="selectedProduct" class="overlay" tabindex="0" (click)="closeOnOverlayClick($event)">
  <div class="card-viewer">
    <!-- כפתור X ולוגו -->
    <button class="close-button" (click)="closeViewer()"><i class="bi bi-x-circle"></i></button>
    <img class="logo" src="assets/logo3.png" alt="Logo" />

    <!-- חלק התמונה -->
    <div class="image-section">
      <img [src]="selectedProduct.image" alt="Product Image">
    </div>

    <!-- חלק הפרטים -->
    <div class="details-section">
      <h2>דגם {{ selectedProduct.name }}</h2>
      <div class="describe">{{ selectedProduct.describe }}
        
      </div>
      <div *ngIf="selectedProduct.price && selectedProduct.price>0" class="price">{{ selectedProduct.price }} ₪</div>
      <button *ngIf="selectedProduct.colors" (click)="openLinkInNewTab(selectedProduct.colors)"
        class="color-link-button">
        <i class="bi bi-palette2"></i> לצבעים</button>
      <div class="action-buttons-select" *ngIf="isLogin">
        <button mat-icon-button color="primary" (click)="editRow(selectedProduct, $event)" class="edit-button-select"
          aria-label="Edit">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(selectedProduct, $event)"
          class="delete-button-select" aria-label="Delete">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>