<div class="cart-container">
    <h2>🛒 סל המוצרים שאהבתי</h2>
  
    <ul *ngIf="_systemService.favoriteProducts.length > 0; else emptyCart">
      <li *ngFor="let product of _systemService.favoriteProducts">
        <img [src]="product.image" alt="Product Image">
        <span>{{ product.name }} - ₪{{ product.price }}</span>
        <button (click)="removeProduct(product.Id)" class="remove-btn"><i class="bi bi-x-lg" style="color: #f7b70e;"></i> הסר</button>
      </li>
    </ul>
  
    <ng-template #emptyCart>
      <p class="empty-message">🛍️ אין מוצרים בסל</p>
    </ng-template>
  
    <button *ngIf="_systemService.favoriteProducts.length > 0" (click)="clearCart()" class="clear-btn">🗑️ מחק הכל</button>
    <button *ngIf="_systemService.favoriteProducts.length > 0" (click)="downloadImagesAsZip()">הורד את התמונות כ-ZIP </button>
    <!-- <button *ngIf="_systemService.favoriteProducts.length > 0" (click)="sendImagesToEmail()">שליחת כל התמונות כ-ZIP </button> -->

  </div>
  