.html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body {
    margin-top: 18vh;
    flex: 1;
}

@media (max-width: 935px) {
    .body {
        margin-top: 12vh;
    }
}