<ng-container *ngIf="productObject">
  <div class="backdrop" (click)="closeImage()">
    <mat-card class="example-card" appearance="outlined">
      <div class="card-container">
        <img class="card-logo" src="assets/logo3.png" alt="Logo" />
        <div class="card-details">
          <mat-card-content>
          <h2>{{ productObject.name }}</h2>
          <p><strong>מחיר:</strong> ${{ productObject.price }}</p>
            <p>{{ productObject.describe }}</p>
            <p><strong>קטגוריה:</strong> {{ productObject.categories }}</p>
            <p *ngIf="productObject.company"><strong>חברה:</strong> {{ productObject.company }}</p>
            <div *ngIf="productObject.company">
              <button class="color-link-button" (click)="openLinkInNewTab(productObject.company.colors)">
                <i class="bi bi-palette2"></i> צבעים
              </button>
            </div>
          </mat-card-content>
        </div>
        <div class="card-image">
          <img mat-card-xl-image [src]="productObject.image" alt="Example Image">
        </div>
      </div>
    </mat-card>
  </div>
</ng-container>