.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.card-viewer {
  display: flex;
  width: 75vw;
  height: 80vh;
  /* גובה קבוע */
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  direction: rtl;
  animation: fadeIn 0.3s ease-in-out;
}

.close-button {
  position: absolute;
  top: 2vh;
  left: 1vw;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5vw;
  /* Adjust size */
  height: 2.5vw;
  /* Adjust size */
  font-size: 1.8rem;
  color: #2d2b2b;
  border-radius: 50%;
  /* Circle shape */
  transition: background-color 0.2s ease;
}

.close-button:hover {
  background-color: #eeeeee81;
  /* Light hover effect */
  transition: background-color 0.2s ease;
}

.logo {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  width: 8vw;
  max-width: 100px;
  height: auto;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  background: #f9f9f9;
  border-right: 2px solid #eee;
}

.image-section img {
  max-width: 50vw;
  max-height: 75vh;
  object-fit: contain;
}

.details-section {
  flex: 1;
  padding: 4vh 3vw;
  font-family: "Rubik", Sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ממרכז את הכיתוב */
  align-items: flex-start;
}

.details-section .contain h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vh;
  color: #f7b70e;
}

.contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.details-section .contain h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vh;
  color: #f7b70e;
}


.favorite-button {
  border-radius: 0.4vw;
  margin-right: 1.2vw;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 1vh;
}

.not-select {
  color: gray;
}

.select {
  color: #f7b70e;
}

.describe-text {
  font-size: 1.8vw;
  /* מגדיל את גודל הטקסט של התיאור */
  font-weight: 500;
  margin: 1vh 0;
  line-height: 1.4;
}

.contain .price {
  font-size: 2vw;
  color: #f7b70e;
  font-weight: bold;
  margin: 1vh 0;
}

.sizes-display {
  white-space: pre-line;
  line-height: 1.6;
  margin: 1vh 0;
}

.color-link-button {
  color: #000000;
  cursor: pointer;
}

.color-link-button:hover {
  color: #f7b70e;
  transform: scale(1.04);
}

.action-buttons-select {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 2vh;
}

.edit-button-select,
.delete-button-select{
  background: #fff;
  border: none;
  transition: 0.3s;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.edit-button-select:hover {
  background-color: rgb(247, 183, 14, 0.8);
}

.delete-button-select:hover {
  background-color: rgba(244, 67, 54, 0.8);
}

