
:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.p-multiselect {
  display: block !important; 
}

.p-datatable-filter-overlay {
  display: block !important;
  width: 20rem;
}

.all-filter{
  display: flex;
  align-items: center;
  background-color: var(--p-primary.500);
  border-radius: 10px;
  padding: 10px;
  max-width: 4rem;
  max-height: 3rem;
}

.font-bold{
  padding: 7px;
}
.header{
  display: flex;
  flex-direction: column;

}

.edit{
  margin: 5px;
}

.delete{
  margin: 5px;
}

.card{
  display: flex;
  align-items: center
}

p-table{
  width: 95vw;
  /* border-collapse: collapse; */
}

p-table ::ng-deep th,
p-table ::ng-deep td {
  border-bottom: 1px solid rgb(178, 176, 176) !important;
}
