<div class="card" dir="rtl">
    <p-toast />

    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="חדש" icon="pi pi-plus" class="mr-2" (click)="editRow(product)" />
            <p-button severity="danger" label="מחיקה" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length" />
        </ng-template>

    </p-toolbar>

    <p-table #dt1 [value]="products" [rows]="10" [columns]="cols" [paginator]="true"
        [globalFilterFields]="['Id', 'name', 'categories', 'price']" [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="Id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template #caption>
            <div class="flex items-center justify-between header">
                <h3 class="m-0">ניהול מוצרים
                    <span class="pi pi-user"></span>
                </h3>
                <div class="flex justify-between items-center all-filter" style="min-width:15rem;">
                    <div class="mr-2 font-bold">סינון לפי קטגוריות</div>
                    <p-columnFilter field="categories" matchMode="contains" display="raw" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false" class="ml-auto">
                        <ng-template #filter let-value let-filter="filterCallback">
                            <p-treeselect dir="rtl" [filter]="true" [(ngModel)]="selectedCategories" display="chip"
                                [options]="categoryEnum" [metaKeySelection]="false" selectionMode="checkbox"
                                placeholder="בחר קטגוריות..." (onChange)="filter($event)" class="w-full md:w-80"
                                containerStyleClass="w-full">
                                <ng-template let-category #item>
                                    <div class="flex items-center gap-6">
                                        <span>{{ category }}</span>
                                    </div>
                                </ng-template>
                            </p-treeselect>
                        </ng-template>
                    </p-columnFilter>
                </div>


            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="name" style="min-width:10rem">
                    שם
                    <p-sortIcon field="name" />
                </th>
                <th>תמונה</th>
                <th pSortableColumn="price" style="min-width: 7rem">
                    מחיר
                    <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="categories" style="min-width:9rem">
                    קטגריות
                    <p-sortIcon field="category" />
                </th>
                <th style="min-width:19rem">
                    תיאור
                </th>
                <th pSortableColumn="company" style="min-width: 11rem">
                    חברה
                    <p-sortIcon field="company" />
                </th>
                <th style="min-width: 11rem">
                    צבעים
                </th>
                <th style="min-width:11rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="product" />
                </td>
                <td style="min-width: 10rem">{{ product.name }}</td>
                <td>
                    <img [src]="product.image" [alt]="product.name" style="width: 64px; height: 40px;"
                        class="rounded" />
                </td>
                <td>{{ product.price | currency: 'ILS' }}</td>
                <td>
                    <span *ngFor="let category of product.categories">{{ category }}
                        <span *ngIf="product.categories.length>1"> | </span></span>
                </td>
                <td>{{ product.describe }}</td>
                <td>{{ product.company }}</td>
                <td>{{ product.colors }}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="edit" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="editRow(product)" />
                    <p-button icon="pi pi-trash" class="delete" severity="danger" [rounded]="true" [outlined]="true"
                        (click)="deleteProduct(product)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between">בסך הכל ישנם {{ products ? products.length : 0 }}
                מוצרים.</div>
        </ng-template>
    </p-table>
</div>