<div class="mat-elevation-z8 custom-table-container" dir="rtl">
    <section>
        <mat-button-toggle-group name="categories" aria-label="Categories" [multiple]="true" dir="rtl"
            class="minimal-toggle-group">
            <mat-button-toggle *ngFor="let category of categories" [value]="category"
                (change)="toggleCategory(category)" class="minimal-toggle">
                {{ category | titlecase }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <table mat-table [dataSource]="getPaginatedProducts()" matSort class="custom-table">
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="center-align"></th>
            <td mat-cell *matCellDef="let row" class="center-align">
                <button mat-icon-button color="primary" (click)="editRow(row)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="right-align">מזהה</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.Id }}</td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="center-align">תמונה</th>
            <td mat-cell *matCellDef="let row" class="center-align">
                <img [src]="row.image" alt="{{ row.name }}" class="product-image" />
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="right-align">שם</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.name }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="right-align">קטגוריה</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.categories }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="right-align">מחיר</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.price }} ₪</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="describe">
            <th mat-header-cell *matHeaderCellDef class="right-align">תיאור</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.describe }}</td>
        </ng-container>

        <!-- Colors Column -->
        <ng-container matColumnDef="colors">
            <th mat-header-cell *matHeaderCellDef class="right-align">צבעים</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.colors }}</td>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="right-align">חברה</th>
            <td mat-cell *matCellDef="let row" class="right-align">{{ row.company }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="pagination-container">
        <mat-paginator [length]="filteredProducts.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)" aria-label="דפים">
        </mat-paginator>
    </div>
</div>