.container {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1vw;

}

form {
  padding: 1vw;
  direction: rtl; /* מימין לשמאל */
}

/* כותרת */
.title-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-size: 24px;
}

/* שדה טופס */
.form-group {
  margin-bottom: 15px;
  position: relative; /* מאפשר מיקום האייקונים */
}

.form-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}

input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* מקום לאייקון מימין */
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #f5c749;
  outline: none;
}

/* אייקון בתוך שדה הטופס */
.form-group i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 16px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end; /* יישור כפתורים לצד שמאל */
  margin-top: 20px;
  gap: 10px; 
  padding-left: 0;
}

button {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button.cancel {
  background-color: transparent;
  color: #000;
  border: 1px solid #ddd;
}

button.cancel:hover {
  background-color: #f5f5f5;
}

button.save {
  background-color: #fff;
  color: #f5c749;
  border: 1px solid #f5c749;
}

button.save:hover {
  background-color: #f5c749;
  color: #fff;
  border-color: #e0b339;
}

.form-group {
  position: relative; /* למיקום הכפתור */
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* מרווח לכפתור העין */
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  padding: 0;
}

